.organizeDropdown.clicked{
    display: none;
}


.helpDropdown.clicked{
    display: none;
}

.hamburgerDropdown.clicked{
    display: none;
}




.menuDropdownOrg, .menuDropdownHelp, .menuDropdownham{    
    position: absolute;
    top: 5rem;
    z-index: 1;
    padding: 0;
    background-color: rgb(255, 255, 255);
    width: 20rem;
    /* right: 40rem;  */
    left: auto; 
    /* padding: 50px; */
    list-style: none;
    text-align: start;
    
    
}



.menuDropdownOrg{
    margin-right: 0.5rem;
    
}

.menuDropdownHelp{
    margin-right: -9.5rem;
    
}



.organizeSubmenu, .helpSubmenu, .hamburgerSubmenu{

    display: block;
    width: 100%;
    height: 4rem;
    text-decoration: none;
    font-size: 1.3rem ; 
    padding: 2.2rem 0 3.15rem 1.7rem;
    color: #6f7287;
    height: 100%;
    

}

.organizeSubmenu:hover, .helpSubmenu :hover, .hamburgerSubmenu:hover{

    background-color:#f3f2f2;

}

